@CHARSET "UTF-8";

/**
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

       감성 뉴스 관련 1
       - 오른쪽 이미지

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
**/
div.sentimentWrapper > div.menuBoxWrapper > div.menuBox-imageWrapper{
/*     width:595px; */
    width:780px;
    height:380px;
    
    /** div.menuBox-menuWrapper 의 float 속성으로 인해, 오른쪽 이동 **/
    margin-left:202px;
    position:relative;
    
    /** animate 효과를 생동감 있게 하기위해 가장 앞에 있도록 설정 **/
    z-index:20;
}

div.menuBox-imageWrapper div.tableWrapper{
    position: absolute;
/*     width:595px; */
    width:780px;
    height:380px;
}

table{
    width:100%;
    height:100%;
    text-align: center;
    background: white;
    left: -2px;
    position: relative;
    
}

table tr td.issueText{
    width:4%;
    height:auto;
    position: relative;
}

img.blockImage{
    width:100%;
    height:auto;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

div.container{
    width:80%;
    color:black;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:55%;
    left:10%;
    cursor: pointer;
}

div.container div.text{
    font-size: 14px;
    width:100%;
	padding:3px 0px 3px 0px;
    background-color:gainsboro;
    border-radius: 10px;
}

div.textContainer{
	font-size:18px;
	color:#3b3838;
}
/**
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

       감성 뉴스 관련 2
       - 마우스 효과

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
**/
td.issueText:hover img.blockImage{
    opacity: 0.2;
    cursor: pointer;
}

td.issueText:hover div.container{
    opacity: 1;
}